langchain
langchain-core
langchain-astradb
langchain-huggingface
langchain-groq
langchain-community
python-dotenv
pandas
flask
prometheus_client
requests
sqlalchemy
transformers
torch
ragas
matplotlib
scikit-learn
seaborn
notebook